body {
  background-color: beige;
  margin: 50px;
}

#heading {
  font-size: 50px;
}

div {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

p.thicker {
  font-weight: 900;
}

h2 {
  max-width: 200px;
  height: 50px;
  background-color: pink;
  text-align: center;
  margin: auto;
}

.first-p {
  font-style: italic;
}

ul.square {
  list-style-type: square;
}

@media screen and (min-width: 810px) {
  body {
    background-color: lightpink;
  }
  h2 {
    display: none;
  }
  body {
    margin: 50px;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color: beige;
    margin: 50px;
  }
  .title {
    font-size: 30px;
  }
  h1 {
    text-align: center;
    border-left: 15px solid pink;
    border-right: 15px solid pink;
  }
}
